<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FirstCry">
<parameter name="Browser" value="chrome"></parameter>
<parameter name="Url" value="https://www.firstcry.com/"></parameter>
  <test name="Test">
  <parameter name="Producttype" value="soft toy"></parameter>
  <parameter name="Quantity" value="3"></parameter>
  <parameter name="Pincode" value="412715"></parameter>
  <parameter name="Quantity" value="3"></parameter>
  
  <classes>
  <class name="com.firstCryTestLayerPackage.HomePageTesting"></class>
  <class name="com.firstCryTestLayerPackage.ProductPageTest"></class>
  <class name="com.firstCryTestLayerPackage.CartPageTest"></class>
  
  </classes>

  
  </test> <!-- Test -->
</suite> <!-- Suite -->
